<div id="shell" data-ng-controller="shell as vm">

        <div class="container-fluid">
            <div data-ng-include="vm.currentView"></div>
        </div>
    <div id="errors" data-ng-show="vm.showErrors">
        <div class="modal show">
            <div class="modal-content col-sm-8 col-sm-offset-2">
                <div class="modal-header">
                    <h4 class="modal-title">Errors</h4>
                </div>
                <div class="modal-body">
                    <div class="row" data-ng-repeat="error in vm.errors">
                        <div class="col-sm-12">
                            <span>{{ error }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="button" class="btn btn-default" data-ng-click="vm.closeErrors()">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
