<div id="scratch" data-ng-controller="scratch as vm">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <h2>{{vm.title}}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-md-4">
                    <button data-ng-click="vm.showBusy()">Show Busy</button>
                </div>
                <div class="col-md-4">
                    <button data-ng-click="vm.showException()">Show Exception</button>
                </div>
                <div class="col-md-4">
                    <button data-ng-click="vm.showSuccess()">Show Success</button>
                </div>
            </div>
        </div>
        </div>
</div>

